
.table-container {
    background-color:white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.table-header h3 {
    color: #2c3e50;
}

.search-container {
    position: relative;
}


.column-search {
    margin-top: 5px;
  }
  
  .column-search .search-input {
    width: 100%;
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  th {
    min-width: 120px;  /* Kolonların minimum genişliğini ayarlayın */
    position: relative;
  }
  
  .ip-address {
    margin-left: auto;
    font-size: 14px;
    color: #666;
  }
  
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.search-input {
    padding: 0.6rem 2rem 0.6rem 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 250px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #7f8c8d;
}

.table-wrapper {
    overflow-x: auto;
}

.passwords-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.passwords-table th {
    background-color: #f8f9fa;
    padding: 0.8rem;
    border-bottom: 2px solid #ddd;
    font-weight: 600;
    color: #2c3e50;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

.passwords-table th:hover {
    background-color: #eaeaea;
}

.passwords-table td {
    padding: 0.8rem;
    border-bottom: 1px solid #eee;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.passwords-table tbody tr:hover {
    background-color: #c7c7c7;
}


.action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
  }
  
  .edit-btn {
    color: #1154a1;
  }
  
  .edit-btn:hover {
    background-color: rgba(74, 144, 226, 0.5);
  }
  
  .delete-btn {
    color: #af2323;
  }
  
  .delete-btn:hover {
    background-color: rgba(226, 92, 92, 0.5);
  }

  .no-data {
    text-align: center;
    padding: 15px;
    color: #777;
    font-style: italic;
    background-color: #f9f9f9;
  }
  